/MadLibs/nbproject/private/
/MadLibs/build/
/String/nbproject/private/
/testeString/nbproject/private/
/testeString/build/
/ArrayPractice/nbproject/private/
/ArrayPractice/build/
/ArrayDemo/nbproject/private/
/ArrayDemo/build/
/DictionaryPractice/nbproject/private/
/DictionaryPractice/build/
/RecursionGOODLUCK/nbproject/private/
/JavaApplication13/nbproject/private/
/RecursionGOODLUCK/build/
/RecursionExample/nbproject/private/
/RecursionExample/build/
/BinaryNumbers/nbproject/private/
/BinaryNumbers/build/
/LibraryCatalogue/nbproject/private/
/LibraryCatalogue/build/
/2DArrays/nbproject/private/
/2DArrays/build/
/Hourglass/nbproject/private/
/Hourglass/build/
/MatrixTest/nbproject/private/
/MatrixTest/build/
/Animal/nbproject/private/
/Animal/build/
/OrganizationPayroll/nbproject/private/
/OrganizationPayroll/build/
/Melitest/nbproject/private/
/Melitest/build/
/AnimalAbstract/nbproject/private/
/AnimalAbstract/build/
/AnimalAbstract/dist/
/Canine/nbproject/private/
/Canine/build/
/CalendarPractice/nbproject/private/
/CalendarPractice/build/
/Scope/nbproject/private/
/Scope/build/
/Difference/nbproject/private/
/Difference/build/