/MadLibs/nbproject/private/
/MadLibs/build/
/String/nbproject/private/
/testeString/nbproject/private/
/testeString/build/
/ArrayPractice/nbproject/private/
/ArrayPractice/build/
/ArrayDemo/nbproject/private/
/ArrayDemo/build/
/DictionaryPractice/nbproject/private/
/DictionaryPractice/build/
/RecursionGOODLUCK/nbproject/private/
/JavaApplication13/nbproject/private/
/RecursionGOODLUCK/build/
/RecursionExample/nbproject/private/
/RecursionExample/build/
/BinaryNumbers/nbproject/private/
/BinaryNumbers/build/
/LibraryCatalogue/nbproject/private/
/LibraryCatalogue/build/
/2DArrays/nbproject/private/
/2DArrays/build/
/Hourglass/nbproject/private/
/Hourglass/build/
/MatrixTest/nbproject/private/
/MatrixTest/build/
/Animal/nbproject/private/
/Animal/build/
/OrganizationPayroll/nbproject/private/
/OrganizationPayroll/build/
/Melitest/nbproject/private/
/Melitest/build/
/AnimalAbstract/nbproject/private/
/AnimalAbstract/build/
/AnimalAbstract/dist/
/Canine/nbproject/private/
/Canine/build/
/CalendarPractice/nbproject/private/
/CalendarPractice/build/
/Scope/nbproject/private/
/Scope/build/
/Difference/nbproject/private/
/Difference/build/
/LinkedList/nbproject/private/
/LinkedList/build/
/ExceptionsPractice/nbproject/private/
/ExceptionsPractice/build/
/Exceptions - String to Integer/nbproject/private/
/Exceptions - String to Integer/build/
/HotChocolate/nbproject/private/
/HotChocolate/build/
/PropagatedException/nbproject/private/
/PropagatedException/build/
/Queuey/nbproject/private/
/Queuey/build/
/Stacky/nbproject/private/
/Stacky/build/
/CharArray/nbproject/private/
/CharArray/build/
/Palindrome/nbproject/private/
/Palindrome/build/
/Foo/nbproject/private/
/Foo/build/
/Dog/nbproject/private/
/Dog/build/
/Variavel/nbproject/private/
/Variavel/build/
/Parametros/nbproject/private/
/Parametros/build/
/Metodos/nbproject/private/
/Metodos/build/
/Metodos2/nbproject/private/
/Metodos2/build/
/Teste/nbproject/private/
/Teste/build/
/Oi/nbproject/private/
/Oi/build/
/Thamires/nbproject/private/
/Thamires/build/
/StarWarsInterfacePractice/nbproject/private/
/StarWarsInterfacePractice/build/
/SolutionPolygon/nbproject/private/
/SolutionPolygon/build/
/Person/nbproject/private/
/Person/build/
/PersonDetails/nbproject/private/
/PersonDetails/build/
/Sorting/nbproject/private/
/Sorting/build/